<%= form_for @post, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field title">
    <%= f.text_area :title, class: 'expanding'  %>
  </div>
  <div class="field body">
    <%= f.text_area :body, class: 'expanding' %>
  </div>
  <div class="field">
    <%= f.label :published %><br>
    <%= f.check_box :published %>
  </div>


  <div class="field">
    <!-- @post.uploads.new -->



    <%= f.fields_for :uploads, (@post.uploads) do |uf| %>

      <%= image_tag uf.object.file.url if uf.object.file? %>
      Remove: <%= uf.check_box :_destroy %>
    <% end %>

    <%= f.fields_for :uploads, (@post.uploads.new) do |uf| %>
      <%= uf.file_field :file %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
